html {
    scroll-behavior: smooth;
}

.background {
    background-image: url('homebackground.jpg');
    height: 100%;
    background-size : cover;
}

.name {
    margin: 0;
    border-radius: 15px;
    line-height: 60px;
    color : #000066;
    padding: 10% 0px 0px 20%;
    font-size: 42px;
}

.contact {
    margin: 0;
    padding: 10% 0px 2% 20%;
    color : #000066;
}

.project {
    color : #000066;
    font-size: 50px;
    position: relative;
    top: 15vh;
    text-align: center;
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0% 0px 0px 20%;
    color: black;
    font-size:19px;
}

a {
    background-color: Transparent;
    border: none;
    color: #000066;
    text-align: center;
    font-size: 25px;
    margin: 4px 8px;
    text-decoration: none;
}

.menu {
    position: fixed;
    float: right;
    overflow: visible;
    background-color: #fefbd8;
    width: 102vw;
    left: 0;
    top: 0;
}

#dashboard {
    width: 100vw;
    height: 100vh;
}

#firstProject {
    width: 100vw;
    height: 100vh;
    background-color: greenyellow;
}

#secondProject {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

#thirdProject {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.thumbnail {
    background-color: red;
    margin: 0;
    background-size: contain;
    width: 20vw;
    position: relative;
    display: inline-block;
}

#projectList {
    position: relative;
    top: 30vh;
    text-align: center;
    margin: 0;
}

img {
    width: 160px;
    height: 160px;
    margin: 0;
}

.projectTitle {
    margin: 0;
    color:  #000066;;
    font-size:30px;
}

thumbnail {
    text-align: center;
    margin: 0;
    position: relative;
}

h3 {
    margin: 0;
    color: black;
    font-size:20px;
    text-align: center;
}
