.background {
    background-image: url('https://images.wallpaperscraft.com/image/globe_map_earth_142119_3840x2400.jpg');
    height: 100%;
    background-size : cover;
}

.name {
    margin: 0;
    border-radius: 15px;
    line-height: 60px;
    color : #000066;
    padding: 10% 0px 0px 20%;
    font-size: 42px;
}

.button {
    background-color: Transparent;
    border: none;
    color: #000066;
    text-align: center;
    font-size: 25px;
    margin: 4px 3px;
}

#homeButton {
    position: sticky;
    float: right;
}

#aboutButton {
    position: sticky;
    float: right;
}

#projectsButton {
    position: sticky;
    float: right;
}

#contactButton {
    position: sticky;
    float: right;
}

.contact {
  margin: 0;
  padding: 10% 0px 0px 20%;
  color : #000066;
}